/*#plane {
  height: 50px;
  position:absolute;
  top:40%;
  left:40%;
}*/


/*#sprite {
  background: url("cochesOGArtb.png") no-repeat;
  background-position:100px 50px ;
  display: block;
  height: 100%;
  width: 100%;
}*/

#carA {
    margin: 10px;
    background: url("carA.png") no-repeat;
    position: absolute;
    /*display: block;*/
}

#carB {
    bottom: 400px;
    left: -10px;
    margin: 10px;
    background: url("carB.png") no-repeat;
    position: absolute;
    /*display: block;*/
    /*animation-name: race;
    animation-duration: 5s;*/
}

#cop {
    position: absolute;
    animation-name: coprace;
    animation-duration: 6s;
    bottom: 550px;
    left: -10
}

#cop2 {
    position: absolute;
    animation-name: coprace;
    animation-duration: 7s;
    bottom: 400px;
    left: -10
}

#cop3 {
    position: absolute;
    animation-name: coprace;
    animation-duration: 8s;
    bottom: 500px;
    left: -10
}

#cop4 {
    position: absolute;
    animation-name: coprace;
    animation-duration: 9s;
  }

@keyframes coprace {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        transform: translate3d(1400px, 0px, 0px);
    }
}


/*
#pane {
position:relative;
width:300px; height:300px;
border:2px solid red;
}

#box {
position:absolute; top:140px; left:140px;
width:20px; height:20px;
background-color:black;
}
*/
